*{
  box-sizing: border-box;
}

html {
  background-image: url(https://lolstatic-a.akamaihd.net/lolkit/1.1.6/resources/images/bg-default.jpg);
  height: 100%;
  background-repeat: no-repeat;
  background-color: #000000;

}


#logo-menu {
  float: left;
  width: 63%;
  padding: 8px;
}

#lol {
  width: 40%;
  float: right;
}
#mid-menu {
  float: left;
  border: #3D3D3D thin solid;
  width: 100%;
  background-color: #1B1B1B;
}
.botones-midmenu {
    width: 100%;
    float: left;
}

.botones-midmenu3 {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: #B98A52 thin solid;
    cursor:pointer;
    width: 16.66%;
    float: left;
    font-size: 20px;
    color: #B98A52;
}

.content {
  border: lightgrey thin solid;
  float: left;
  width: 14.28%;
}

.fondochamps {
    max-width: 1000px;
    background: #dedede;
    margin-left: 262px;
    margin-top: 25px;
    margin-bottom: 25px;
    float: left;
    height: 2450px;
}

.fondoimagenes{
  max-width: 1000px;
  background: #EEEDED;
  padding: 10px;
  border: darkgrey thick solid;
  float: left;
}

.champion-grid {
  float: left;
  width: 100%;
  text-align: center;
}

.imagenes {
  margin-top: 10px;
  margin-left: 25px;
  float: left;
  width: 85px;
  height: 85px;
  border: thick solid #D4D4D4;
}

a {
  text-decoration: none;
  color: #257372;
  font-size: 15px;
}

.botones-footer {
    width: 82.5%;
    float: right;
}

.botonesredsoc {
    background-color: transparent;
    background-repeat:no-repeat;
    border: #B98A52 thin solid;
    cursor:pointer;
    font-size: 20px;
    color: #B98A52;
    width: 11.39%;
    float: left;
    margin-bottom: 25px;
}

@media screen and (max-width: 800px) {
 .botones-midmenu3 {
    width: 100%;}

    .content {
      width: 50%;
    }
    .fondoimagenes {
      padding: 0px;
    }
    .imagenes {
      margin: 3px;
    }
    .fondochamps {
      width: 100%;
      margin-top: 75px;
      margin-left: 0px;
      height: 6590px;
    }
    #lol {
      width: 100%
    }
    #logo-menu {
      width: auto;
    }

    .botonesredsoc {
      width: 25%;
      font-size: 15px;
    }
    .botones-footer {
      width: 100%
    }
}
