*{box-sizing: border-box;
margin: 0;
}

html {
  background-color: #2F1F1F;
}

#menu {
  float: left;
  border: black thin solid;
  width: 100%;
  background-image: url(https://vignette.wikia.nocookie.net/leagueoflegends/images/b/bd/Winter_Summoner%27s_Rift_background.png/revision/latest?cb=20180610010906);
}

#content {
  float: left;
  border: black thin solid;
  width: 70%;
  padding: 2px;
}

#bottom {
  border: black thin solid;
  width: 100%;
  float: left;
  background-color: #1B1B1B;
}

#left {
  float: left;
  width: 15%;
  border: #B98A52 solid thin;
  background-color: #1B1B1B;
}

#right {
  float: left;
  width: 15%;
  border: black solid thin;
}

#right-bot {
  float: left;
  width: 15%;
  border: #B98A52 solid thin;
    background-color: #1B1B1B;
}

#mid-menu {
  float: left;
  border: #3D3D3D thin solid;
  width: 100%;
  background-color: #1B1B1B;
}

#logo-menu {
  float: left;
  width: 60%;
  padding: 8px;
}

#lol {
  width: 40%;
  float: right;
}

#titulo {
  font-size: 80px;
  width: 50%;
  float: left;
  font-family: courier;
}

.botones-region {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: #B98A52 thin solid;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    font-size: 25px;
    color: #B98A52;
    width: 100%;
    float: left;
    padding: 12px;
}
.titulo-unvierso {
  font-size: 55px;
  color: #B98A52;
  border: #B98A52 thin solid;
  text-align: center;
}

.botones-midmenu {
    width: 100%;
    float: left;
}

.botones-midmenu3 {
  background-color: Transparent;
    background-repeat:no-repeat;
    border: #B98A52 thin solid;
    cursor:pointer;
    width: 16.655%;
    float: left;
    font-size: 25px;
    color: #B98A52;
}

.botones-esport {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: #B98A52 thin solid;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    font-size: 25px;
    color: #B98A52;
    width: 20%;
    float: left;
    padding: 7px;
}

.tituloesports {
  font-size: 60px;
  text-align: center;
  color: #B98A52;
  border: #B98A52 thin solid;
}

#videoyt {
  width: 100%;
  height: 600px;
}

.botonesredsoc {
    background-color: transparent;
    background-repeat:no-repeat;
    border: #B98A52 thin solid;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    font-size: 25px;
    color: #B98A52;
    width: 100%;
    text-align: left;
    float: left;
    padding: 16.3px;
}

#iesports {
  width: 100%;
}

@media screen and (max-width: 800px) {
  .botones-esport, .botones-midmenu3, #left, #right-bot, #right {
    width: 100%;
  }
  #videoyt {
    width: 100%;
    height: 200px
  }
  #logo-menu {
      float: left;
      width: 100%;
      padding: 0px;
  }
  #lol {
    width: 100%;
  }
  #content {
    width: 100%;
  }
}
