<div id="mid-menu">
  <div class="botones-midmenu">
  <a href="file:///home/smx2a/Projects/blog/main/index.html"><button class="botones-midmenu3">Inicio</button></a>
  <a href="https://signup.euw.leagueoflegends.com/es/signup/redownload"><button class="botones-midmenu3">Descargar juego</button></a>
  <a href="file:///home/smx2a/Projects/blog/champs/indexchamps.html"><button class="botones-midmenu3">Personajes</button></a>
  <a href="file:///home/smx2a/Projects/blog/skins/indexskins.html"><button class="botones-midmenu3">Skins</button></a>
  <a href="https://u.gg/"><button class="botones-midmenu3">U.GG</button></a>
  <a href="http://euw.op.gg/"><button class="botones-midmenu3">OP.GG</button></a>
  </div>
</div>
