<div id="content">
  <iframe id="videoyt" src="https://www.youtube.com/embed/L6tWvy3JvFI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  <div id="bottom">
    <div class="tituloesports">	E-sports </div>
    <a href="https://eu.lolesports.com/es/liga/lec"><button class="botones-esport">LEC</button></a>
    <a href="https://eu.lolesports.com/es/liga/na-lcs"><button class="botones-esport">LCS</button></a>
    <a href="https://eu.lolesports.com/es/liga/lck"><button class="botones-esport">LCK</button></a>
    <a href="https://eu.lolesports.com/es/liga/lpl"><button class="botones-esport">LPL</button></a>
    <a href="https://eu.lolesports.com/es/liga/lms"><button class="botones-esport">LMS</button></a>
  </div>
  </div>
