<div id="right">
  <a href="https://play.iesports.es/"><img id="iesports" src="https://www.iesports.es/themes/iesports/assets/images/ogimage.jpg"></a>
  </div>
  <div id="right-bot">
    <a href="https://twitter.com/leagueoflegends?lang=es"><button class="botonesredsoc">Twitter</button></a>
    <a href="https://es-es.facebook.com/leagueoflegends/"><button class="botonesredsoc">Facebook</button></a>
    <a href="https://www.youtube.com/channel/UC2t5bjwHdUX4vM2g8TRDq5g"><button class="botonesredsoc">Youtube</button></a>
    <a href="https://www.twitch.tv/riotgames"><button class="botonesredsoc">Twitch</button></a>
    <a href="https://www.instagram.com/leagueoflegends/"><button class="botonesredsoc">Instagram</button></a>
    <a href="https://old.reddit.com/r/leagueoflegends/"><button class="botonesredsoc">Reddit</button></a>
    <a href="http://leagueoflegends.wikia.com/wiki/League_of_Legends_Wiki"><button class="botonesredsoc">Wiki</button></a>
  </div>
