<div id="left">
  <div class="titulo-unvierso">	Universo </div>
  <a href="https://universe.leagueoflegends.com/es_ES/region/bilgewater/"><button class="botones-region">Aguas Estancadas</button></a>
  <a href="https://universe.leagueoflegends.com/es_ES/region/void/"><button class="botones-region">El Vacio</button></a>
  <a href="https://universe.leagueoflegends.com/es_ES/region/ionia/"><button class="botones-region">Jonia</button></a>
  <a href="https://universe.leagueoflegends.com/es_ES/region/noxus/"><button class="botones-region">Noxus</button></a>
  <a href="https://universe.leagueoflegends.com/es_ES/region/mount-targon/"><button class="botones-region">Monte Targon</button></a>
  <a href="https://universe.leagueoflegends.com/es_ES/region/demacia/"><button class="botones-region">Demacia</button></a>
  <a href="https://universe.leagueoflegends.com/es_ES/region/zaun/"><button class="botones-region">Zaun</button></a>
  <a href="https://universe.leagueoflegends.com/es_ES/region/piltover/"><button class="botones-region">Piltover</button></a>
  <a href="https://universe.leagueoflegends.com/es_ES/region/shurima/"><button class="botones-region">Shurima</button></a>
  <a href="https://universe.leagueoflegends.com/es_ES/region/freljord/"><button class="botones-region">Freljord</button></a>
  <a href="https://universe.leagueoflegends.com/es_ES/region/shadow-isles/"><button class="botones-region">Islas de la Sombra</button></a>
  <a href="https://universe.leagueoflegends.com/es_ES/region/bandle-city/"><button class="botones-region">Ciudad de Bandle</button></a>
  </div>
