*{
box-sizing: border-box;
}
html {
  background-image: url(https://i1.wp.com/culturageek.com.ar/wp-content/uploads/2018/09/Culturageek.com_.ar-World-Championship-2018-League-of-Legends-sorteo-equipos-2.png);
  background-repeat: no-repeat;
  background-color: #000000;
}

#logo-menu {
  float: left;
  width: 63%;
  padding: 8px;
}

#lol {
  width: 40%;
  float: right;
}
#mid-menu {
  float: left;
  border: #3D3D3D thin solid;
  width: 100%;
  background-color: #1B1B1B;
}
.botones-midmenu {
    width: 100%;
    float: left;
}

.botones-midmenu3 {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: #B98A52 thin solid;
    cursor:pointer;
    width: 16.66%;
    float: left;
    font-size: 20px;
    color: #B98A52;
}

.fondo {
  border: white thin solid;
  width: 69%;
  background-color: #092949;
  float: right;
  margin-right: 287px;
}

.content {
  background-color: #092949;
  width: 100%;
  float: left;
}

.txt {
  color: white;
}

.tierpic {
  margin-top: 19px;
  margin-left: 19px;
  margin-right: 19px;
  color: white;
  font-size: 30px;
}

.lol {
  text-align: center;
  font-size: 40px;
  color: white;
}

.lol1 {
  text-align: center;
  background-color: #0d5472;
  font-size: 40px;
  color: white;
}
